<header class="header">
    <mat-toolbar color="primary">
        <span>Proje</span>
        <span class="example-spacer"></span>
        <ul class="header-menu">
            <li>
                <a routerLink="/" routerLinkActive="active"  >Anasayfa</a>
            </li>
            <li>
                <a routerLink="/about" routerLinkActive="active">Hakkımızda</a>
            </li>
            <li>
                <a routerLink="/cards" routerLinkActive="active">Bilgiler</a>
            </li>
        </ul>
      </mat-toolbar>
</header>

