
<html>
<head>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

</head>
<body>


<!-- Header -->
<header id="header" class="header">
  <div class="header-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-xl-5">
          <div class="text-container">
            <h1><em style="color: #34ce57">Bilgilerinizi</em> Yönetmenin En Kolay Yolu </h1>
            <a class="btn-solid-lg page-scroll" routerLink="./cards">Giriş Yap</a>
          </div> <!-- end of text-container -->
        </div> <!-- end of col -->
        <div class="col-lg-6 col-xl-7">
          <div class="image-container">
            <div class="img-wrapper">
              <img class="img-fluid" src="assets/img/header-software-app.png" >
            </div> <!-- end of img-wrapper -->
          </div> <!-- end of image-container -->
        </div> <!-- end of col -->
      </div> <!-- end of row -->
    </div> <!-- end of container -->
  </div> <!-- end of header-content -->
</header> <!-- end of header -->
<svg class="header-frame" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 1920 310"><defs><style>.cls-1{fill:#5f4def;}</style></defs><title>header-frame</title><path class="cls-1" d="M0,283.054c22.75,12.98,53.1,15.2,70.635,14.808,92.115-2.077,238.3-79.9,354.895-79.938,59.97-.019,106.17,18.059,141.58,34,47.778,21.511,47.778,21.511,90,38.938,28.418,11.731,85.344,26.169,152.992,17.971,68.127-8.255,115.933-34.963,166.492-67.393,37.467-24.032,148.6-112.008,171.753-127.963,27.951-19.26,87.771-81.155,180.71-89.341,72.016-6.343,105.479,12.388,157.434,35.467,69.73,30.976,168.93,92.28,256.514,89.405,100.992-3.315,140.276-41.7,177-64.9V0.24H0V283.054Z"/></svg>
<!-- end of header -->
<br><br><br>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card card-1">
        <h3>Ionic Native</h3>
        <p>İyonik uygulamalarınıza herhangi bir yerel işlevi kolayca eklemek için eklentiler için kreatörlüğünde bir dizi ES5 / ES6 / TypeScript sarmalayıcı.</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-2">
        <h3>UI Bileşenleri</h3>
        <p>Sekmeler, düğmeler, girişler, listeler, kartlar ve daha fazlası! Kullanıma hazır kapsamlı bir mobil UI bileşenleri kütüphanesi</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-3">
        <h3>Tema</h3>
        <p>Uygulamanızın tasarımını tüm mobil platform stillerinde markanıza uyacak şekilde nasıl kolayca özelleştireceğinizi ve değiştireceğinizi öğrenin.</p>
      </div>
    </div>
  </div>
</div>

<div class="bg-white py-5">
  <div class="container py-5">
    <div class="row align-items-center mb-5">
      <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
        <h2 class="font-weight-light">Lorem ipsum dolor sit amet</h2>
        <p class="font-italic text-muted mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><a href="#" class="btn btn-light px-5 rounded-pill shadow-sm">Learn More</a>
      </div>
      <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="https://bootstrapious.com/i/snippets/sn-about/img-1.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-5 px-5 mx-auto"><img src="https://bootstrapious.com/i/snippets/sn-about/img-2.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
      <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
        <h2 class="font-weight-light">Lorem ipsum dolor sit amet</h2>
        <p class="font-italic text-muted mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><a href="#" class="btn btn-light px-5 rounded-pill shadow-sm">Learn More</a>
      </div>
    </div>
  </div>
</div>

<section class="section services-section" id="services">
  <div class="container">
    <div class="row">
      <div>
        <div class="section-title" >
          <h2 >Neler Yapıyorum ?</h2>
          <p>Şık, modern web siteleri oluşturma konusunda uzmanlaşmış, her ölçekteki müşteriler için hizmetler tasarlıyor ve geliştiriyorum</p>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- feaure box -->
      <div class="col-sm-6 col-lg-4">
        <div class="feature-box-1">
          <div class="icon">
            <i class="fa fa-desktop"></i>
          </div>
          <div class="feature-content">
            <h5>Benzersiz Tasarım</h5>
            <p>Şık, modern web siteleri oluşturma konusunda uzmanlaşmış, her ölçekteki müşteriler için hizmetler tasarlıyor ve geliştiriyorum</p>
          </div>
        </div>
      </div>
      <!-- / -->
      <!-- feaure box -->
      <div class="col-sm-6 col-lg-4">
        <div class="feature-box-1">
          <div class="icon">
            <i class="fa fa-user"></i>
          </div>
          <div class="feature-content">
            <h5>Farklı Düzen</h5>
            <p>Şık, modern web siteleri oluşturma konusunda uzmanlaşmış, her ölçekteki müşteriler için hizmetler tasarlıyor ve geliştiriyorum</p>
          </div>
        </div>
      </div>
      <!-- / -->
      <!-- feaure box -->
      <div class="col-sm-6 col-lg-4">
        <div class="feature-box-1">
          <div class="icon">
            <i class="fa fa-comment"></i>
          </div>
          <div class="feature-content">
            <h5>Basit ve Güçlü</h5>
            <p>Şık, modern web siteleri oluşturma konusunda uzmanlaşmış, her ölçekteki müşteriler için hizmetler tasarlıyor ve geliştiriyorum</p>
          </div>
        </div>
      </div>
      <!-- / -->
      <!-- feaure box -->
      <div class="col-sm-6 col-lg-4">
        <div class="feature-box-1">
          <div class="icon">
            <i class="fa fa-image"></i>
          </div>
          <div class="feature-content">
            <h5>Responsive</h5>
            <p>Şık, modern web siteleri oluşturma konusunda uzmanlaşmış, her ölçekteki müşteriler için hizmetler tasarlıyor ve geliştiriyorum</p>
          </div>
        </div>
      </div>
      <!-- / -->
      <!-- feaure box -->
      <div class="col-sm-6 col-lg-4">
        <div class="feature-box-1">
          <div class="icon">
            <i class="fa fa-th"></i>
          </div>
          <div class="feature-content">
            <h5>En İyi Performans İçin Test</h5>
            <p>Şık, modern web siteleri oluşturma konusunda uzmanlaşmış, her ölçekteki müşteriler için hizmetler tasarlıyor ve geliştiriyorum</p>
          </div>
        </div>
      </div>
      <!-- / -->
      <!-- feaure box -->
      <div class="col-sm-6 col-lg-4">
        <div class="feature-box-1">
          <div class="icon">
            <i class="fa fa-cog"></i>
          </div>
          <div class="feature-content">
            <h5>Gelişmiş Seçenekler</h5>
            <p>Şık, modern web siteleri oluşturma konusunda uzmanlaşmış, her ölçekteki müşteriler için hizmetler tasarlıyor ve geliştiriyorum</p>
          </div>
        </div>
      </div>
      <!-- / -->
    </div>
  </div>
</section>






<br><br>



<!-- Footer -->
<svg class="footer-frame" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 1920 79"><defs><style>.cls-2{fill:#5f4def;}</style></defs><title>footer-frame</title><path class="cls-2" d="M0,72.427C143,12.138,255.5,4.577,328.644,7.943c147.721,6.8,183.881,60.242,320.83,53.737,143-6.793,167.826-68.128,293-60.9,109.095,6.3,115.68,54.364,225.251,57.319,113.58,3.064,138.8-47.711,251.189-41.8,104.012,5.474,109.713,50.4,197.369,46.572,89.549-3.91,124.375-52.563,227.622-50.155A338.646,338.646,0,0,1,1920,23.467V79.75H0V72.427Z" transform="translate(0 -0.188)"/></svg>
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="footer-col first">
          <h4>Hakkımızda</h4>
          <p class="p-small">Freelancer 7/24 İletişim İstanbul</p>
        </div>
      </div> <!-- end of col -->
      <div class="col-md-4">
        <div class="footer-col middle">
          <h4>Şartlar Ve Gizlilik</h4>
          <ul class="list-unstyled li-space-lg p-small">
            <li class="media">
              <i class="fas fa-square"></i>
              <div class="media-body"> <a class="white" href="#your-link"></a></div>
            </li>
            <li class="media">
              <i class="fas fa-square"></i>
              <div class="media-body"><a>Şartlarımızı Koşullarımızı ve Gizlilik Politikamızı okuyun
              </a></div>
            </li>
          </ul>
        </div>
      </div> <!-- end of col -->
      <div class="col-md-4">
        <div class="footer-col last">
          <h4>İletişim</h4>
          <ul class="list-unstyled li-space-lg p-small">
            <li class="media">
              <i class="fas fa-map-marker-alt"></i>
              <div class="media-body">Freelancer 7/24 İletişim İstanbul</div>
            </li>
            <li class="media">
              <i class="fas fa-envelope"></i>
              <div class="media-body"><a class="white" href="mailto:contact@tivo.com">umutcdemir@gmail.com</a> <i class="fas fa-globe"></i><a class="white" href="#your-link">Tumu Software</a></div>
            </li>
          </ul>
        </div>
      </div> <!-- end of col -->
    </div> <!-- end of row -->
  </div> <!-- end of container -->
</div> <!-- end of footer -->
<!-- end of footer -->


<!-- Copyright -->
<div class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p class="p-small">Copyright © 2022 <a href="https://tumusoftware.ml">Project by Tumu Software</a></p>
      </div> <!-- end of col -->
    </div> <!-- enf of row -->
  </div> <!-- end of container -->
</div> <!-- end of copyright -->
<!-- end of copyright -->
</body>
</html>
