<mat-card class="card-item">
    <mat-card-header (click)="openUpdateCardModule(infoItem)">
      <mat-icon>account_circle</mat-icon>
      <mat-card-title>{{infoItem.name ||'-'}}</mat-card-title>
      <mat-card-subtitle>{{infoItem.title}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"  >{{infoItem.phone}}</li>
          <span *ngIf="infoItem.email">{{infoItem.email}}</span>
          <small class="text-warning no-content"*ngIf="!infoItem.email">E-posta adresi girilmemiş</small>
<hr>
          <span *ngIf="infoItem.address">{{infoItem.address}}</span>
          <small class="text-warning no-content" *ngIf="!infoItem.address">Adres Girilmemiş</small>

          </ul>
    </mat-card-content>
  </mat-card>
